# DSC 540 Week7-8 Assignments

Logan Quandt

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#load in dataset
candy_df = pd.read_excel('candyhierarchy2017.xlsx')
candy_df.head()

C:\Users\logan\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [4]:
#view shape of df
candy_df.shape

(2460, 120)

# Chapter 7

### Filter out missing data

In [5]:
#view counts of NA values by column
candy_df.isna().sum().sort_values(ascending=False)

Unnamed: 113                        2451
Q12: MEDIA [Yahoo]                  2393
Q12: MEDIA [Daily Dish]             2375
Q12: MEDIA [ESPN]                   2361
Q9: OTHER COMMENTS                  2074
                                    ...
Q5: STATE, PROVINCE, COUNTY, ETC     100
Q3: AGE                               84
Q4: COUNTRY                           64
Q2: GENDER                            41
Internal ID                            0
Length: 120, dtype: int64

In [6]:
#filter out missing values using dropna
candy_df_dropped = candy_df.dropna(thresh = 30)
candy_df_dropped.shape

(1793, 120)

### Fill in missing data

In [43]:
#fill in remaining missing values using fillna with constant value
candy_df_filled = candy_df.fillna(0)
candy_df_filled.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,0,Bottom line is Twix is really the only candy w...,White and gold,0,Sunday,0.0,1.0,0.0,0.0,"(84, 25)"
2,90272829,0,Male,49,USA,Virginia,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,0,Raisins can go to hell,White and gold,0,Sunday,0.0,1.0,0.0,0.0,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,0,0,White and gold,0,Friday,0.0,1.0,0.0,0.0,"(70, 10)"

### Remove duplicates

In [8]:
#Drop duplicate values
candy_df.drop_duplicates()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

# Chapter 8

### Hierarchical Index

In [12]:
#hierarchical index
hier_df = candy_df.set_index(['Internal ID', 'Q2: GENDER', 'Q1: GOING OUT?'])
hier_df.head()

,,,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Internal ID,Q2: GENDER,Q1: GOING OUT?,,,,,,,,,,,,,,,,,,,,,
90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90272821,Male,No,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
90272829,Male,NaN,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90272840,Male,No,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,DESPAIR,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
90272841,Male,No,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

### Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)

In [17]:
#split dataframe into two, first one using first 6 columns
candy_df_merge_one = candy_df.iloc[:,:6]
candy_df_merge_one.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC"
0,90258773,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM
2,90272829,NaN,Male,49,USA,Virginia
3,90272840,No,Male,40,us,or
4,90272841,No,Male,23,usa,exton pa

In [25]:
#create 2nd data frame for merging, using remaining columns
candy_df_merge_two = candy_df.drop(['Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC'], axis=1)
candy_df_merge_two.head()

,Internal ID,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,Q6 | Box'o'Raisins,Q6 | Broken glow stick,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,MEH,DESPAIR,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [26]:
#merge dataframes back together using pd.merge on 'Internal ID'
candy_df_merged = pd.merge(candy_df_merge_one, candy_df_merge_two, on='Internal ID')
candy_df_merged.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

# Chapter 10

### Groupby Index Level

In [37]:
#Group by Index Level, count of country input
candy_df.groupby(['Q4: COUNTRY'], axis=0).count()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q4: COUNTRY,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
united states of america,5,5,5,5,5,4,4,4,2,3,...,2,1,4,0,4,0,4,0,0,4
united ststes,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
us,40,39,40,40,39,23,24,24,20,19,...,3,3,22,0,22,2,13,1,0,16
usa,217,210,216,213,216,158,154,157,140,133,...,55,25,155,1,158,5,123,9,7,141
usas,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Cross Tabulation

In [52]:
#Cross Tabulation using pandas crosstab.

pd.crosstab(candy_df['Q2: GENDER'], candy_df['Q3: AGE'], margins=True)

Q3: AGE,1,4,6,7,8,9,10,11,12,13,...,See question 2,ancient,hahahahaha,no,old,old enough,older than dirt,sixty-nine,your mom,All
Q2: GENDER,,,,,,,,,,,,,,,,,,,,,
Female,0,0,1,1,1,1,2,5,6,0,...,0,1,0,0,1,1,1,1,1,828
I'd rather not say,0,0,0,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,71
Male,0,1,1,1,1,3,0,2,1,6,...,0,0,0,1,1,0,0,0,0,1440
Other,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,30
All,1,1,2,2,2,4,3,7,9,6,...,1,1,1,1,2,1,1,1,1,2369

# Chapter 11

In [60]:
#read in 2016 file with timestamps
candy_df_2016 = pd.read_excel('candyhierarchy2016.xlsx')
candy_df_2016.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22.0,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45.0,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48.0,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57.0,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42.0,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

### Convert between string and date time

In [70]:
#convert Timestamp column to str using strftime into new column
candy_df_2016['Timestamp_string'] = candy_df_2016['Timestamp'].apply(lambda x: x.strftime('%m/%d/%y'))
candy_df_2016.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,Timestamp_string
0,2016-10-24 05:09:23.033,No,Male,22.0,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,2.0,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,10/24/16
1,2016-10-24 05:09:54.798,No,Male,45.0,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,10/24/16
2,2016-10-24 05:13:06.734,No,Female,48.0,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,10/24/16
3,2016-10-24 05:14:17.192,No,Male,57.0,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN,10/24/16
4,2016-10-24 05:14:24.625,Yes,Male,42.0,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN,10/24/16

In [72]:
#check dtypes to confirm new column was converted as string
candy_df_2016.dtypes

Timestamp                                                                                                                                    datetime64[ns]
Are you going actually going trick or treating yourself?                                                                                             object
Your gender:                                                                                                                                         object
How old are you?                                                                                                                                     object
Which country do you live in?                                                                                                                        object
                                                                                                                                                  ...
Which day do you prefer, Friday or Sunday?                                                                                                           object
Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?            object
When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).                              object
 [York Peppermint Patties] Ignore                                                                                                                   float64
Timestamp_string                                                                                                                                     object
Length: 124, dtype: object

### Generate Date Range

In [74]:
#generate date range based off of timestamp using first and last occurences
candy_time_range = pd.date_range(candy_df_2016['Timestamp'].iloc[0], candy_df_2016['Timestamp'].iloc[-1], freq='H')
candy_time_range

DatetimeIndex(['2016-10-24 05:09:23.033000', '2016-10-24 06:09:23.033000',
               '2016-10-24 07:09:23.033000', '2016-10-24 08:09:23.033000',
               '2016-10-24 09:09:23.033000', '2016-10-24 10:09:23.033000',
               '2016-10-24 11:09:23.033000', '2016-10-24 12:09:23.033000',
               '2016-10-24 13:09:23.033000', '2016-10-24 14:09:23.033000',
               ...
               '2016-10-30 07:09:23.033000', '2016-10-30 08:09:23.033000',
               '2016-10-30 09:09:23.033000', '2016-10-30 10:09:23.033000',
               '2016-10-30 11:09:23.033000', '2016-10-30 12:09:23.033000',
               '2016-10-30 13:09:23.033000', '2016-10-30 14:09:23.033000',
               '2016-10-30 15:09:23.033000', '2016-10-30 16:09:23.033000'],
              dtype='datetime64[ns]', length=156, freq='H')